@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    h1 {
    font-size: 1.8em;
    margin: 0.67em 0;
    }
    h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
    }
    h3 {
    font-size: 1.17em;
    margin: 1em 0;
    }
    h4,
    h5,
    h6 {
    font-size: 1em;
    margin: 1.6em 0 1em 0;
    }
    p {
    margin-top: 0;
    margin-bottom: 1.24em;
    }
    a {
    color: #111;
    word-wrap: break-word;
    text-decoration-color: rgba(0, 0, 0, 0.4);
    text-decoration: underline;
    }
    a:hover {
    color: #555;
    text-decoration-color: rgba(0, 0, 0, 0.6);
    }
    h1 a, h2 a, h3 a {
    text-decoration: none;
    }
    strong,
    b {
    font-weight: 700;
    color: #222223;
    }
    em,
    i {
    font-style: italic;
    color: #222223;
    }
    img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto auto 4px;
    box-sizing: border-box;
    }
    a img {
    /* Remove border on IE */
    border: none;
    }
    img + em {
    position: relative;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto auto 4px;
    box-sizing: border-box;
    text-align: center;
    margin: auto auto 4px;
    left: 0;
    font-weight: 400;
    font-size: 14px;
    color: #666665;
    }
    img + em a {
    text-decoration: none;
    color: #666665;
    }
    hr {
    display: block;
    width: 14%;
    margin: 40px auto 34px;
    border: 0 none;
    border-top: 3px solid #dededc;
    }
    blockquote {
    margin: 0 0 1.64em 0;
    border-left: 3px solid #dadada;
    padding-left: 12px;
    color: #666664;
    }
    blockquote a {
    color: #666664;
    }
    ul,
    ol {
    margin: 0 0 24px 6px;
    padding-left: 16px;
    }
    ul {
    list-style-type: square;
    }
    ol {
    list-style-type: decimal;
    }
    li {
    margin-bottom: 0.2em;
    }
    li ul,
    li ol {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 14px;
    }
    li ul {
    list-style-type: disc;
    }
    li ul ul {
    list-style-type: circle;
    }
    li p {
    margin: 0.4em 0 0.6em;
    }
    .unstyled {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    code,
    tt {
    color: #808080;
    font-size: 0.96em;
    background-color: #f9f9f7;
    padding: 1px 2px;
    border: 1px solid #eee;
    border-radius: 3px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    word-wrap: break-word;
    }
    pre {
    margin: 1.64em 0;
    padding: 7px;
    border: none;
    border-left: 3px solid #dadada;
    padding-left: 10px;
    overflow: auto;
    line-height: 1.5;
    font-size: 0.96em;
    font-family: Menlo, monaco, consolas, "courier new", monospace;
    color: #4c4c4c;
    background-color: #f9f9f7;
    }
    pre code,
    pre tt {
    color: #4c4c4c;
    border: none;
    background: none;
    padding: 0;
    }
    table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1.5em;
    font-size: 0.96em;
    box-sizing: border-box;
    }
    th,
    td {
    text-align: left;
    padding: 4px 8px 4px 10px;
    border: 1px solid #dadada;
    }
    td {
    vertical-align: top;
    }
    tr:nth-child(even) {
    background-color: #efefee;
    }
    iframe {
    display: block;
    max-width: 100%;
    margin-bottom: 30px;
    }
    figure iframe {
    margin: auto;
    }
    table pre {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    }
    @media (min-width: 1100px) {
        blockquote {
            margin-left: -24px;
            padding-left: 20px;
            border-width: 4px;
        }
        blockquote blockquote {
            margin-left: 0;
        }
    }
}